<form [formGroup]="createUser" (ngSubmit)="onSubmit()">  
    <label>
      E-Mail:
      <input type="text" formControlName="email" required>
    </label> 
    <label>
      Username:
      <input type="text" formControlName="username" required minlength="10" maxlength="15">
    </label>
    <label>
      Password:
      <input type="password" formControlName="password" required minlength="10">
    </label>
    <label>
      Confirm Password:
      <input type="password" formControlName="confirmPassword" required minlength="10">
    </label>
    <button type="submit" [disabled]="!createUser.valid || !passwordsMatch()">Submit</button>
</form>